:root {
    /*COLORS*/
        /*SCUDERIAS*/
        --var-blue-alpine: #0093CC;
        --var-blue-racing-bulls: #6692FF;
        --var-blue-redbull: #3671C6;
        --var-blue-willians: #64C4FF;
        --var-gray-haas: #B6BABD;
        --var-green-aston-martin: #229971;
        --var-green-kick-sauber: #3DC726;
        --var-green-mercedes: #27F4D2;
        --var-orange-mclaren: #FF8000;
        --var-red-ferrari: #E80020;

        /*OTHERS*/
        --var-white-ice: #DDD9CE;
        --var-pure-white: #FAF9F7;
        --var-black: #000000;
        --var-gray: #222222;
        --var-white-gray: #E4E8EA;
        --var-yellow: #FFD700;

        /*BACKGROUND*/
        .bg-0{
            background-color: var(--var-blue-alpine);
        }

        .bg-1{
            background-color: var(--var-green-aston-martin);
        }

        .bg-2{
            background-color: var(--var-red-ferrari);
        }

        .bg-3{
            background-color: var(--var-gray-haas);
        }

        .bg-4{
            background-color: var(--var-green-kick-sauber);
        }

        .bg-5{
            background-color: var(--var-orange-mclaren);
        }

        .bg-6{
            background-color: var(--var-green-mercedes);
        }

        .bg-7{
            background-color: var(--var-blue-racing-bulls);
        }

        .bg-8{
            background-color: var(--var-blue-redbull);
        }

        .bg-9{
            background-color: var(--var-blue-willians);
        }
        
        .bg-white-gray{
            background-color: var(--var-white-gray);
        }
        
        /*FONTS*/
    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

    /*STYLES*/

    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
    
    li{
        list-style: none !important
    }

    .btn{
        width: 5%;
        height: 11vh;
        border: none;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }

    .btn:hover{
        opacity: 80%;
    }
}