:root {
    /*COLORS*/
    /*SCUDERIAS*/
    --var-blue-alpine: #0093CC;
    --var-blue-racing-bulls: #6692FF;
    --var-blue-redbull: #3671C6;
    --var-blue-willians: #64C4FF;
    --var-gray-haas: #B6BABD;
    --var-green-aston-martin: #229971;
    --var-green-kick-sauber: #3DC726;
    --var-green-mercedes: #27F4D2;
    --var-orange-mclaren: #FF8000;
    --var-red-ferrari: #E80020;

    /*OTHERS*/
    --var-white-ice: #DDD9CE;
    --var-pure-white: #FAF9F7;
    --var-black: #000000;
    --var-gray: #222222;
    --var-white-gray: #E4E8EA;
    --var-yellow: #FFD700;

    /*BACKGROUND*/
    .bg-0 {
        background-color: var(--var-blue-alpine);
    }

    .bg-1 {
        background-color: var(--var-green-aston-martin);
    }

    .bg-2 {
        background-color: var(--var-red-ferrari);
    }

    .bg-3 {
        background-color: var(--var-gray-haas);
    }

    .bg-4 {
        background-color: var(--var-green-kick-sauber);
    }

    .bg-5 {
        background-color: var(--var-orange-mclaren);
    }

    .bg-6 {
        background-color: var(--var-green-mercedes);
    }

    .bg-7 {
        background-color: var(--var-blue-racing-bulls);
    }

    .bg-8 {
        background-color: var(--var-blue-redbull);
    }

    .bg-9 {
        background-color: var(--var-blue-willians);
    }

    .bg-white-gray {
        background-color: var(--var-white-gray);
    }

    /*FONTS*/
    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

    /*STYLES*/

    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    li {
        list-style: none !important
    }

    .btn {
        width: 5%;
        height: 11vh;
        border: none;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        cursor: pointer;
    }

    .btn:hover {
        opacity: 80%;
    }

    @media only screen and (max-width: 800px) {

        .logo-home {
            width: 20%;
            height: 4vh;
            top: 4%;
        }
    
        .texto {
            width: 71%;
            top: 35%;
            left: 15%;
        }
    
        .texto h1 {
            font-size: 18px;
            text-align: justify;
        }
    
        .moldura {
            top: 45%;
            left: 10%;
            width: 80%;
        }
    
        .btn-home {
            left: 70%;
            width: 14%;
            height: 7vh;
        }

        .btn-home img {
            width: 55%;
            height: auto;
            border-radius: 50%;
        }
    
        .btn-teams {
            position: absolute;
            top: 3%;
            left: 5%;
            width: 14%;
            height: 7vh;
            z-index: 5;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .btn-teams img {
            width: 55%;
            height: auto;
            border-radius: 50%;
        }
    
        .roboto-medium {
            font-size: 14px;
        }
    
        .roboto-bold {
            font-size: 15px;
        }
    
        .card-box {
            width: 85%;
            height: 72vh;
            position: absolute;
            top: 10%;
            left: 1.5%;
            opacity: 0.85;
            z-index: 3;
            border-radius: 20px;
            padding: 10px;
            box-shadow: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    
        .card {
            height: 68vh;
        }
    
        .card .header{
            height: 8vh;
        }
    
        .card .header h3 {
            font-size: 15px;
        }
    
        .card .content{
            margin-top: 1%;
            height: 25vh;
        }
    
        .card .content .info {
            width: 44%;
            height: 20vh;
            font-size: 14px;
        }
    
        .card .footer{
            height: 20vh;
            margin-top: 24%;
            margin-bottom: 3%;
        }
    
        .footer .column{
            display: flex;
            justify-content: center;
        }
    
        .footer .column.title {
            width: auto;
            height: 20vh;
            font-size: 14px;
        }
        .footer .column.data {
            width: auto;
            height: 20vh;
            font-size: 14px;
        }
        .footer .column.img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .footer .column.img img {
            width: 70%;
        }
    
        .line {
            margin: 0;
        }
    
        .line.none {
            display: none;
        }
    
        .teams .car-box {
            width: 70%;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 4;
        }
    
        .teams .car-box .car img {
            width: 100%;
        }
    
        .menu-box {
            width: 100%;
            position: absolute;
            top: 90%;
            left: 0;
            display: flex;
            z-index: 4;
        }
    
        .menu-box img {
            width: 60%;
        }
    
        .logo-home {
            z-index: 1;
        }
    
        .card-box {
            z-index: 3;
        }
    
        .car-box {
            z-index: 4;
        }
    
        .menu-box {
            z-index: 5;
        }
    
        .btn-teams {
            z-index: 6;
        }
        
    }
    
}