.menu-box {
    width: 55%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 74%;
    left: 7%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 90%;
}

.item {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8; 
    transition: transform 1s ease, opacity 0.3s ease;
}

.item.selected {
    opacity: 1; 
}

.btn-item {
    cursor: pointer;
    border: none;
    background: none;
}

.item img {
    width: 70%;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.6);
}

.item.selected img {
    transform: scale(1.2); 
}