.teams {
    background: linear-gradient(#DDD9CE, #FAF9F7, #DDD9CE);
}

.teams .background-logo {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
}

.teams .background-logo img {
    width: 100%;
    transition: opacity 0.7s ease; 
    position: absolute;
    opacity: 0; 
}

.teams .background-logo img.show {
    opacity: 1; 
}

.btn-teams {
    transition: 0.8s;
    top: 4%;
    left: 5%;
}

.btn-teams:hover {
    transition: 0.5s;
}

.teams .car-box {
    width: 40%;
    position: absolute;
    top: 35%;
    left: 15%;
}

.car-box .car img {
    width: 100%;
    transition: opacity 0.7s ease; 
    position: absolute; 
    opacity: 0; 
}

.car-box .car img.show {
    opacity: 1; 
}

